@import "compass/reset";
@import "variable";

body{
	width: 100%;
	background: $color-primary;
	font:400 18px/1.62 $font-normal;
	display: flex;
	justify-content:center;
	align-items:center;
	min-height: 100vh;
}

textarea{
	background: $color-textarea--bg;
	color:$color-textarea--text;
	font-family: inherit;
}

#input-form{
	width: 80%;
	max-width: 800px;
	display: flex;
	flex-direction:column;
	#input-q1{
		padding:1em;
		font-size: 1.4rem;
		letter-spacing: 2px;
	}
	#form-submit{
		height: 3em;
	}
}

