doctype html
html(lang='zh-TW')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(name='theme-color', content='#171717')
    title 給輕痰的匿名信
    meta(name='author', content='輕痰萬事屋')
    link(rel='stylesheet', href='css/main.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js")
  body
    form#input-form(action='', method='POST', target='hidden-target')
      textarea#input-q1(name='q1', cols='30', rows='10', autofocus, required)
      button#form-submit(type='submit') 寄出
      div.pending-anim
        div.sk-folding-cube
          div.sk-cube1.sk-cube
          div.sk-cube2.sk-cube
          div.sk-cube4.sk-cube
          div.sk-cube3.sk-cube
      iframe#hidden-target(src='#', name='hidden-target', style='visibility:hidden')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='js/main.js')
  // https://docs.google.com/forms/d/e/1FAIpQLScQvFt5kxc2zqNYqFJVtBcU3wMWVxEORzIPssgUTQdirEtt-A/viewform
