doctype html
html(lang='zh-TW')
  head
    meta(charset='UTF-8')
    title 給輕痰的匿名信
    meta(name='author', content='輕痰萬事屋')
    link(rel='stylesheet', href='css/main.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js")
    script(src='http://code.jquery.com/jquery-latest.min.js')
  body
    form#input-form(action='', method='POST', target='hidden-target')
      textarea#input-q1(name='q1', cols='30', rows='10', autofocus, required)
      button#form-submit(type='submit') 寄出
      div.pending-anim
        div.sk-folding-cube
          div.sk-cube1.sk-cube
          div.sk-cube2.sk-cube
          div.sk-cube4.sk-cube
          div.sk-cube3.sk-cube
      iframe#hidden-target(src='#', name='hidden-target', style='visibility:hidden')
    script.
      window.addEventListener('load',function(){
        var letterText = localStorage.getItem('response-q1');
        if(letterText !== ''){
          $('#input-q1').val(letterText);
        }
      });
      $('#input-q1').on('change',function(){
        localStorage.setItem('response-q1',$('#input-q1').val());
      });
      $('#input-form').one('submit', function() {
      var inputq1 = encodeURIComponent($('#input-q1').val());
      var q1ID = "entry.1678652128";
      var baseURL = 'https://docs.google.com/forms/d/e/1FAIpQLScQvFt5kxc2zqNYqFJVtBcU3wMWVxEORzIPssgUTQdirEtt-A/formResponse?';
      var submitRef = '&submit=Submit';
      var submitURL = (baseURL + q1ID + "=" + inputq1 + submitRef);
      console.log(submitURL);
      $(this)[0].action = submitURL;
      $('.pending-anim').addClass('is-active');
      $('#input-q1').attr('readonly',true)
      setTimeout(function(){
        $('.pending-anim').removeClass('is-active')
        $('#form-submit').text('匿名信已寄出');
      },2000);
      });
  // https://docs.google.com/forms/d/e/1FAIpQLScQvFt5kxc2zqNYqFJVtBcU3wMWVxEORzIPssgUTQdirEtt-A/viewform
